<div class="content">
	<div class="done">
		<div class="header-title">
			<h2>Thank you for registering for</h2>
		</div>
		<div class="event">
			<p id="name"><%= @participant.event.name %></p>
			<p id="date"><%= @participant.event.date_time %></p>
		</div>
		<div class="greetings">
			<p>See you there!</p>
			<small>*Please bring an ID.</small>
		</div>
		<div class="bottom-logo">
			<%= image_tag "logo-bottom.png" %>
		</div> 
		<div class="bg">
			<%= image_tag "bg.png" %>
		</div>
	</div>
</div>