<table id="participant-table">
  <thead>
    <tr>
      <th width="100">ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Event Selected</th>
      <th>Event Date</th>
    </tr>
  </thead>
  <tbody></tbody>
</table> 